---
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Portafolio</title>
  </head>
  <body>
    <Navbar />

    <main>
      <h1>¡Hola! Soy Renato</h1>
      <p>Desarrollador web especializado en desarrollo de interfaces.</p>
    </main>

    <Footer />
  </body>
</html>
